{% include '/_config__redirect-logic' %}

{% comment %}set is_referral_site variable{% endcomment %}
{% capture is_referral_site %}false{% endcapture %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        
        <link rel="shortcut icon" type="image/x-icon" href="/system/production/assets/445070/original/pilgrims__icon.png">
        <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        {% careersites_required_head_tags %}
        <script>var $cs = $;</script>

        {% include '/_config__variables' %}

        <!--START SEO META-->
        <!--Capturing company name into a variable for use within code-->
        {% capture company_name %}Pilgrim's Global{% endcapture %}

        {% capture locale_permalink %}/{{ current_locale.locale }}{% endcapture %}

        <!--Detecting if Careers Home page-->
        {% capture current_locale_locale_down %}{{ current_locale.locale | downcase }}{% endcapture %}
        {% if template.permalink == 'career_site_home_page' or template.permalink == current_locale_locale_down %}
            {% capture is_home_page %}true{% endcapture %}
        {% endif %}

        <!--Detecting if Category page-->
        {% capture category_tag %}{{ params['ns_category'] }}-jobs-content{% endcapture %}
        {{ category_tag | pages_with_tag | assign_to: 'category_pages' }}
        {% if category_pages.size > 0 %}
            {% capture is_category_page %}true{% endcapture %}
        {% endif %}

        <!--Detecting if Job Search Results page-->
        {% if request.path contains '/search' and request.path contains '/jobs' and is_category_page != 'true' %}
            {% capture is_job_search %}true{% endcapture %}
        {% endif %}

        {% if is_home_page == 'true' %}
            <!--Setting meta content for Careers Home page-->
            {% capture seo_to_index %}true{% endcapture %}
            {% capture meta_title %}{{ company_name }} Careers{% endcapture %}
            {% capture meta_description %}{% meta_description %}{% endcapture %}
            {% capture meta_keywords %}{% meta_keywords %}{% endcapture %}

        {% elsif is_category_page == 'true' %}
            <!--Setting meta content for Category pages-->
            {% capture seo_to_index %}true{% endcapture %}
            {% capture meta_title %}{{ category_pages[0].title | html_safe }}{% endcapture %}
            {% capture meta_description %}{% if category_pages[0].meta_description != blank %}{{ category_pages[0].meta_description }}{% else %}{% meta_description %}{% endif %}{% endcapture %}
            {% capture meta_keywords %}{% if category_pages[0].meta_keywords != blank %}{{ category_pages[0].meta_keywords }}{% else %}{% meta_keywords %}{% endif %}{% endcapture %}

        {% elsif is_job_search == 'true' %}
            <!--Setting meta content for Search Query pages-->
            {% if request_fullpath contains '?' and request_fullpath contains '=' %}
                {% capture seo_to_index %}false{% endcapture %}
                {% capture meta_title %}Job Search Results{% endcapture %}
                {% capture meta_description %}{% if jobs.total_entries > 0 %}Search {{ jobs.total_entries }} {% endif %}Career{% if jobs.total_entries > 1 %}s{% endif %} available at {{ company_name }}.{% endcapture %}
                {% capture meta_keywords %}{% meta_keywords %}{% endcapture %}
            <!--Setting meta content for Facet pages-->
            {% elsif selected_facets.size >= 1 %}
                {% if selected_facets.size == 1 %}
                    {% capture seo_to_index %}true{% endcapture %}
                {% else %}
                    {% capture seo_to_index %}false{% endcapture %}
                {% endif %}
                {% capture meta_title %}{{ selected_facets[0]["label"] | html_escape }} Career{% if jobs.total_entries > 1 %}s{% endif %}{% endcapture %}
                {% capture meta_description %}{% if jobs.total_entries > 0 %}Search {{ jobs.total_entries }} {% endif %}{{ selected_facets[0]["label"] | html_escape }} Career{% if jobs.total_entries > 1 %}s{% endif %} available at {{ company_name }}.{% endcapture %}
                {% capture meta_keywords %}{% meta_keywords %}{% endcapture %}
            <!--Setting meta content for Saved Jobs page-->
            {% elsif params['saved_jobs'] == '1' %}
                {% capture seo_to_index %}false{% endcapture %}
                {% capture meta_title %}Saved Jobs{% endcapture %}
                {% capture meta_description %}{% endcapture %}
                {% capture meta_keywords %}{% endcapture %}
            <!--Setting meta content for Job Search Results pages-->
            {% else %}
                {% capture seo_to_index %}true{% endcapture %}
                {% capture meta_title %}Job Search Results{% endcapture %}
                {% capture meta_description %}{% if jobs.total_entries > 0 %}Search {{ jobs.total_entries }} {% endif %}Career{% if jobs.total_entries > 1 %}s{% endif %} available at {{ company_name }}.{% endcapture %}
                {% capture meta_keywords %}{% meta_keywords %}{% endcapture %}
            {% endif %}

        {% elsif job %}
            <!--Setting meta content for Job Details pages-->
            {% capture job_location %}
            {% if job.location.city != blank %}
                {{ job.location.city }}{% if job.location.state_prov_short != blank or job.location.country != blank %},{% endif %}
            {% endif %}
            {% if job.location.state_prov_short != blank %}
                {% capture job_location_state_prov_short_no_digit %}{{ job.location.state_prov_short | replace_global_regex: "[\d]", ":::" }}{% endcapture %}
                {% if job_location_state_prov_short_no_digit contains ':::' %}
                    {{ job.location.state_prov }}{% if job.location.country != blank %},{% endif %}
                {% else %}
                    {{ job.location.state_prov_short }}{% if job.location.country != blank %},{% endif %}
                {% endif %}
            {% endif %}
            {% if job.location.country != blank %}{{ job.location.country }}{% endif %}
            {% endcapture %}
            {% capture seo_to_index %}{{ job.active? }}{% endcapture %}
            {% capture meta_title %}{{ job.title }} in {{ job_location }}{% endcapture %}
            {% capture meta_description %}{{ job.title }} in {{ job_location }}{% endcapture %}
            {% capture meta_keywords %}{% meta_keywords %}{% endcapture %}

        {% elsif page %}
            <!--Setting meta content for content pages-->
            {% if page.tag_list contains 'no-index' %}
                {% capture seo_to_index %}false{% endcapture %}
            {% else %}
                {% capture seo_to_index %}true{% endcapture %}
            {% endif %}
            {% capture meta_title %}{{ page.title | html_safe }}{% endcapture %}
            {% capture meta_description %}{% meta_description %}{% endcapture %}
            {% capture meta_keywords %}{% meta_keywords %}{% endcapture %}

        {% else %}
            {% capture seo_to_index %}true{% endcapture %}
            {% capture meta_title %}{% careersites_required_title %}{% endcapture %}
            {% capture meta_description %}{% meta_description %}{% endcapture %}
            {% capture meta_keywords %}{% meta_keywords %}{% endcapture %}

        {% endif %}

        {% if root_url contains 'internal' %}
            <!--Setting meta content for non-indexable sites-->
            {% capture seo_to_index %}false{% endcapture %}
            {% capture meta_description %}{% endcapture %}
            {% capture meta_keywords %}{% endcapture %}
        {% endif %}

        <title>{{ meta_title }}</title>

        {% if seo_to_index == 'true' %}
            {% if root_url contains 'preview' or root_url contains '-dev' %}
                <meta name="robots" content="noindex, nofollow">
            {% else %}
                {% if job %}
                    <meta name="robots" content="index, nofollow">
                {% else %}
                    <meta name="robots" content="index, follow">
                {% endif %}
            {% endif %}
        {% else %}
            <meta name="robots" content="noindex, nofollow">
        {% endif %}

        {% capture current_url_with_current_locale_permalink %}{{ request_host_with_port }}{{ locale_permalink }}{% endcapture %}
        {% capture current_url %}https://{{ request_host_with_port }}{{ request_path }}{% endcapture %}

        {% if available_locales.total_entries > 0 %}
            {% capture canonical_url %}{{ current_url | replace: current_url_with_current_locale_permalink,request_host_with_port }}{% endcapture %}
        {% else %}
            {% capture canonical_url %}{{ current_url }}{% endcapture %}
        {% endif %}
        <link rel="canonical" href="{{ canonical_url }}" />

        {% for locale in available_locales %}
            {% capture current_url_with_locale_permalink %}{{ request_host_with_port }}/{{ locale.locale }}{% endcapture %}
            {% capture locale_canonical_url %}{{ canonical_url | replace: request_host_with_port,current_url_with_locale_permalink }}{% endcapture %}
            <link href="{{ locale_canonical_url }}" hreflang="{{ locale.locale }}" rel="alternate" type="text/html"/>
        {% endfor %}

        {% if meta_description != blank %}
            <meta name="description" content="{{ meta_description }}">
        {% endif %}
        {% comment %}
        {% if meta_keywords != blank %}
            <meta name="keywords" content="{{ meta_keywords }}">
        {% endif %}
        Removed because meta keywords are outdated, irrelevant and has no impact on search engine rankings; and could even hurt SEO
        {% endcomment %}
        <!--END SEO META-->

        <meta property="og:title" content="{{ meta_title }}" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="/system/production/assets/445071/original/piligrims__social-share.jpg" />
        <meta property="og:url" content="{{ root_url }}{{ request_fullpath | remove_first: '/' }}" />
        {% if meta_description != blank %}<meta property="og:description" content="{{ meta_description }}" />{% endif %}
        <meta property="og:locale" content="{% if current_locale.locale != blank %}{{ current_locale.locale }}{% else %}en{% endif %}" />
        <meta property="og:site_name" content="{{ career_site.name }}" />

        {% if cb_is_dev != 'true' %}
            {% comment %}Prod only code here{% endcomment %}
            {% include '/pilgrims__scripts--head' %}
        {% endif %}
    </head>
    <body id="{{ template.permalink }}" class="scroll{% if request_fullpath contains '/search' %} has-search{% endif %}">
        <!-- <div class="preloader-wrapper">
            <div class="preloader"></div>
        </div> -->

        {% if cb_is_dev != 'true' %}
            {% comment %}Prod only code here{% endcomment %}
            {% include '/pilgrims__scripts--body' %}
        {% endif %}

        <div class="width-detector"></div>

        <div class="saved-jobs-alert-wrapper full-height full-width hide-for-print" role="alert">
            <div class="saved-jobs-alert">
                <div class="saved-jobs-alert__check padded-medium">
                    <i class="fa fa-circle-check" aria-hidden="true"></i>
                </div>
                <div class="saved-jobs-alert__message padded-medium"></div>
            </div><!--close .saved-jobs-alert-->
        </div><!--close .saved-jobs-alert-wrapper-->

        <div class="page-container fadeIn{% if job and params['savejob'] == '1' %} hide{% endif %}">

            <div class="hide">
                {% capture returnurl %}return_url\":\"http:\\\\\\\\\\\\\\\\{{career_site.domain}}/\"{% endcapture %}
                {% capture tn %}
                  {{ "Join our Talent Network" | link_to_talent_network: "talent-network-main", "talent-network-main" }}
                {% endcapture %}
                {{ tn | replace: 'return_url\":null', returnurl }}
            </div>

            <a class="skip-main background-1 background-dark hide-for-print" href="#main" rel="nofollow">Skip to main content</a>
            
            <div class="top-wrapper">
                <div class="header-anchor js"></div>
                <div class="header-outer">
                    <header>
                        <div class="padded-v-medium">
                            <div class="row">
                                <div class="columns small-5 large-3 header__logo">
                                    <a href="{{ root_url }}"><img src="/system/production/assets/445072/original/pilgrims__logo.png{% asset_seed %}" alt="{{ company_name }}" /></a>
                                </div>
                                <div class="hide-for-print columns small-7 header__menu-mobile text-right hide-for-large">
                                    <span class="header__menu-mobile-button">
                                        <a href="javascript:void(0);" aria-expanded="false" rel="nofollow">More <i class="fa fa-bars" aria-hidden="true"></i></a>
                                    </span>
                                </div>
                                <div class="hide-for-print columns large-9 header__menu large-text-right" aria-hidden="true">
                                    <div class="hide-for-large">
                                        <div class="header__menu-mobile-button text-right padded-v-small">
                                            <a href="javascript:void(0);" aria-expanded="false" rel="nofollow" style="color: #fff; font-size: 25px;"><span class="show-for-sr">Close</span> <i class="fa-solid fa-xmark" aria-hidden="true"></i></a>
                                        </div>
                                        <div class="text-center padded-v-medium"><img src="/system/production/assets/445383/original/pilgrims__logo--wht.png" alt="{{ company_name }}" style="width: 120px;" /></div>
                                    </div>
                                    <nav>
                                        <ul class="clearfix">
                                            <li><a href="{{ root_url }}"{% if template.permalink == 'career_site_home_page' %} class="active"{% endif %}>Careers Home</a></li>
                                            <li><a href="/pages/working-at-pilgrims"{% if template.permalink == 'pages-working-at-pilgrims' %} class="active"{% endif %}>Working At Pilgrim's</a></li>
                                            <li><a href="{{ jbs_careers_url }}/pages/students" target="_blank">Students</a></li>
                                            <li><a href="{{ 'en' | candidate_portal_url }}" target="_blank" rel="nofollow">{% if is_referral_site == 'true' %}Employee Portal{% else %}Candidate Portal{% endif %}</a></li>
                                            <li><a href="/pages/saved-jobs" class="saved_jobs_link{% if template.permalink == 'pages-saved-jobs' or params['saved_jobs'] == '1' %} active{% endif %}" rel="nofollow">Saved Jobs</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </header><!--close header-->
                </div><!--close .header-outer-->
            </div><!--close .top-wrapper-->

            <div id="main" tabindex="-1"></div>
            <div class="template-content{% if params['savejob'] == '1' %} hide{% endif %}">
                {{ 'careers-home' | pages_with_tag | assign_to: 'careers_home' }}
                {% if is_home_page == 'true' and careers_home[0].images.size > 0 %}
                    {% capture banner_image_url %}{{ careers_home[0].images[0].url }}{% endcapture %}
                    {% capture banner_image_alt %}{% if careers_home.images[0].title != careers_home.images[0].file_name %}{{ careers_home.images[0].title | html_safe }}{% endif %}{% endcapture %}

                {% elsif is_category_page == 'true' %}
                    {% capture banner_image_url %}{{ category_pages[0].images[1].url }}{% endcapture %}
                    {% capture banner_image_alt %}{% if category_pages[0].images[1].title != category_pages[0].images[1].file_name %}{{ category_pages[0].images[1].title | html_safe }}{% endif %}{% endcapture %}

                {% elsif page %}
                    {% capture banner_image_url %}{{ page.images[0].url }}{% endcapture %}
                    {% capture banner_image_alt %}{% if page.images[0].title != page.images[0].file_name %}{{ page.images[0].title | html_safe }}{% endif %}{% endcapture %}

                {% endif %}

                {% if banner_image_url != blank %}
                    <div class="page-banner{% if page %} page-banner--no-search{% endif %}">
                        <img src="{{ banner_image_url }}" alt="{{ banner_image_alt }}" class="full-width" />

                        {% unless page %}
                        <div class="page-banner__search padded-v-medium hide-for-print">
                            <div class="row">
                                <div class="column">
                                    <div class="background-4 padded-large page-banner__search-inner branded-search">
                                        <div class="padded-h-medium">
                                            <div class="space-small"></div>
                                            <div class="cs_item_type_jobsearch cs_cfix cs_jsearchform">
                                                <form id="search_form---" method="get" action="/search/jobs" class="search-form">
                                                    <div class="row">
                                                        <div class="columns large-9">
                                                            <div class="row">
                                                                <div class="columns large-6 space-small">
                                                                    <label for="cs_jobsearchforminput_keyword" class="show-for-sr">Keyword, Job Title, skills</label>
                                                                    <input type="text" placeholder="Keyword, Job Title, skills" id="cs_jobsearchforminput_keyword" class="ui-autocomplete-input" autocomplete="off" name="q" value="{{ params['q'] | escape_html }}"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                                </div>
                                                                <div class="columns large-6 space-small">
                                                                    <label for="search__location" class="show-for-sr">Enter a Location</label>
                                                                    <input type="text" name="location" value="{{ params['location'] | escape_html }}" placeholder="Enter a Location" id="search__location" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="columns large-3">
                                                            <div class="space-small">
                                                                <input type="submit" value="Find Jobs" class="branded-button-1 full-width">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div><!--close .cs_item_type_jobsearch.cs_cfix cs_jsearchform-->
                                        </div>
                                    </div><!--close .branded-search-->
                                </div>
                            </div>
                        </div><!--close .page-banner__search-->
                        {% endunless %}
                    </div><!--close .page-banner-->
                {% endif %}
                <div class="space-large"></div>

                {% if request_fullpath contains '/search' and banner_image_url == blank %}
                    <div class="hide-for-print space-large">
                        <div class="cs_item_type_jobsearch cs_cfix cs_jsearchform">
                            <div class="row">
                                <div class="column">
                                    <div class="branded-search">
                                        <div class="space-small"></div>
                                        <form id="search_form---" method="get" action="/search/jobs" class="search-form">
                                            <div class="row">
                                                <div class="columns medium-9">
                                                    <div class="row">
                                                        <div class="columns medium-6 space-small">
                                                            <label for="cs_jobsearchforminput_keyword" class="show-for-sr">Keyword, Job Title, skills</label>
                                                            <input type="text" placeholder="Keyword, Job Title, skills" id="cs_jobsearchforminput_keyword" class="ui-autocomplete-input" autocomplete="off" name="q" value="{{ params['q'] | escape_html }}"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                        </div>
                                                        <div class="columns medium-6 space-small">
                                                            <label for="search__location" class="show-for-sr">Enter a Location</label>
                                                            <input type="text" name="location" value="{{ params['location'] | escape_html }}" placeholder="Enter a Location" id="search__location" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="columns medium-3">
                                                    <div class="space-small">
                                                        <input type="submit" value="Find Jobs" class="branded-button-1 full-width">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div><!--close .branded-search-->
                                </div>
                            </div>
                        </div><!--close .cs_item_type_jobsearch.cs_cfix cs_jsearchform-->
                    </div>
                {% endif %}

                {% if is_referral_site == 'true' %}
                    {% if user.first_name != blank  or user.last_name != blank %}
                        <div class="row">
                            <div class="column">
                                <div class="space-small"></div>
                                Welcome, {{ user.first_name }} {{ user.last_name }}!
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                
                {{ template_content }}

            </div><!--close .template-content-->

            <footer class="hide-for-print">
                <div class="padded-v-xlarge background-1 background-dark talent-network-section">
                    <div class="row">
                        <div class="columns medium-8 large-9">
                            <p class="heading-3 heading-heavy">OPPORTUNITY AWAITS.</p>
                            <p class="heading-2 heading-heavy">JOIN OUR TALENT COMMUNITY TODAY.</p>
                        </div>
                        <div class="columns medium-4 large-3 text-right">
                            <div class="space-large"></div>
                            <a href="javascript:void(0);" class="branded-button-2 talent-network-link" rel="nofollow">{% if is_referral_site == 'true' %}Take our Talent Assessment{% else %}Join Talent Community{% endif %}</a>
                        </div>
                    </div>
                </div>

                <div class="footer__content padded-v-large">
                    <div class="row space-medium">
                        <div class="columns">
                            <nav>
                                <ul class="clearfix text-center">
                                    <li><a href="{{ root_url }}">Careers Home</a></li>
                                    <li><a href="/pages/working-at-pilgrims">Working At Pilgrim's</a></li>
                                    <li><a href="{{ jbs_careers_url }}/pages/students" target="_blank">Students</a></li>
                                    <li><a href="{{ 'en' | candidate_portal_url }}" target="_blank" rel="nofollow">{% if is_referral_site == 'true' %}Employee Portal{% else %}Candidate Portal{% endif %}</a></li>
                                    <li><a href="/pages/saved-jobs" class="saved_jobs_link" rel="nofollow">Saved Jobs</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="row space-large">
                        <div class="columns text-center footer__social-media">
                            <a href="https://www.linkedin.com/company/pilgrims-corp/" target="_blank"><i class="fa-brands fa-linkedin-in"><span class="show-for-sr">linkedin</span></i></a>
                            <a href="https://www.facebook.com/PilgrimsCorp/" target="_blank"><i class="fa-brands fa-facebook-f"><span class="show-for-sr">facebook</span></i></a>
                        </div>
                    </div>

                    <div class="row space-large">
                        <div class="columns text-center-">
                            <p class="text-small text-center">
                                1770 Promontory Circle Greeley, CO 80634
                                &nbsp;&nbsp;&nbsp;
                                <a href="tel:+9705068000">970-506-8000</a>
                            </p>
                            <p class="text-small">
                                Federal Applicant Notices
                                &nbsp;&nbsp;
                                <a target="_blank" href="https://cdn.phenompeople.com/CareerConnectResources/JBUSUS/documents/FederalEEOC_KnowYourRights06.27.2023-1689353004495.pdf">Federal EEOC- Know Your Rights Employee Polygraph Protection Act</a>
                                &nbsp;&nbsp;
                                <a target="_blank" href="https://cdn.phenompeople.com/CareerConnectResources/JBUSUS/documents/EmployeeRightsUndertheFamilyandMedicalLeaveActFMLA-1689353159735.pdf">Employee Rights Under the Family and Medical Leave Act</a>
                                &nbsp;&nbsp;
                                <a target="_blank" href="https://cdn.phenompeople.com/CareerConnectResources/JBUSUS/documents/EmployeePrivacyPolicy-06.27.2023-1689353194839.pdf">Employee Privacy Policy</a>
                                &nbsp;&nbsp;
                                <a target="_blank" href="https://cdn.phenompeople.com/CareerConnectResources/JBUSUS/documents/PayTransparencyNotice-1690580397262.pdf">Pay Transparency Notice</a>
                            </p>
                            <p class="text-small">
                                <strong>Reasonable Accommodation/Request Assistance:</strong> If you are a qualified individual with a disability or a disabled veteran, you may request a reasonable accommodation if you are unable or limited in your ability to access job openings or apply for a job on this site as a result of your disability. Applicants with disabilities may request an accommodation at any time by contacting the Company at <a href="mailto:JBSApplicant.Accessibility@jbssa.com">JBSApplicant.Accessibility@jbssa.com</a>.
                                <br />EOE/Vets/Disabled
                            </p>
                        </div>
                    </div>

                    <div class="row footer-copyright">
                        <div class="columns text-center">
                            <p>Pilgrim's &copy; Copyright 2024 | All Rights Reserved</p>
                        </div>
                    </div>
                </div><!--close .footer__content-->
            </footer><!--close footer-->

        </div><!--close .page-container-->

        <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script>$(document).foundation();</script>
        {% careersites_required_footer %}

        {% if cb_is_dev != 'true' %}
            {% comment %}Prod only code here{% endcomment %}
            {% include '/pilgrims__scripts--footer' %}
        {% endif %}
    </body>
</html>